body {
  background-color: rgb(6, 160, 147);
  color: black;
  font-family: Helvetica;

}

h1 {
  text-align: center;
  color: blue;
}



fieldset {
  border-radius: 5px;
  border: 1px solid blue;
  margin: 20px 0;
  
  
}

select {
  display: block;
  margin: 10px;
  color: blue;
}

input:not(.availability-radio-btn), textarea {
  display: block;
  margin: 10px;
  width: 95%;
  height: 25px;
  color: blue;
  border-radius: 5px;
  border: 1px solid blue;
}

label:not(.availability), legend{ 
  font-weight: 600;
  font-size: 1.2rem;
  color: blue;
}

input:focus, 
textarea:focus {
  border-color: #007bff;
  outline: none;
}

input:invalid, select:invalid, textarea:invalid {
  border: 1px solid red;
}

input:valid, select:valid, textarea:valid {
  border: 1px solid green;
}

button {
  background-color: light-blue;
  padding: 10px;
  vertical-align: bottom;
  margin: 10px;
  cursor: pointer;
  font-size: 1.1rem;
  color: blue;

}

button:hover {
  background-color: teal;
  color: black;
}

.radio-group input[type="radio"]:checked {
  border: 1px solid cyan;
  background-color: blue;
  box-shadow: 0 5px 15px lightblue;
}

input:checked + label {
  color: blue;
}

input:first-of-type {
  border-radius: 2px;
}
